* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.flex {
	display: flex;

	&_column {
		flex-flow: column;
	}

	&_row {
		flex-flow: row;
	}

	&_center {
		justify-content: center;
		align-items: center;
	}

	&_grow {
		flex-grow: 1;
	}

	&-items {
		margin: auto;
	}
}