.slide {
	// width: 100%;	

	&-wrap {
		width: 100%;
		overflow-y: auto;
	}

	&-title {
		padding-bottom: 0.5em;
		margin-bottom: 0.5em;
		border-bottom: 1px solid #333;
	}
	&-content {
		display: flex;
		flex-flow: row;
		justify-content: flex-start;
		align-items: center;
	}
}