<!DOCTYPE html>
<html lang="en">
<head>
	<title>404 Not Found</title>
	<%- include('includes/meta') -%>
</head>
<body>
	<%- include('includes/header') -%>
	<div class="container site-container text-center">
		<h1>404</h1>
		<h2>Page <%= url %> doesn't exist</h2>
	</div>
</body>
</html>