<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('includes/meta', {title: '404 Not Found'}) %>
</head>
<body>
	<div class="flex flex_column flex_center" style='height: 100vh'>
		<p>404 Not Found</p>
		<p><a href="/">Return to homepage</a></p>
	</div>
</body>
</html>