<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= username %> | MY CHAT APP</title>
	<%-include('includes/meta')%>
	<link rel="stylesheet" href="/css/chat.min.css">
</head>
<body class='site'>
	<%- include('includes/header', {user: user}) %>
	<main class="container p-0 site-container">
		<div class="chat-area">
			<div class="mx-auto d-flex align-items-center">
				<div id="user-name" class='user-name pr-4'></div>
				<div id="user-pic" class='user-pic'>
					<img src="" alt="">
				</div>
				<div id='chat-user-status' class='pl-4'></div>
			</div>
			<div class="chat-display position-relative" id="chat-content">
				<a id="see-more" href='#' class='position-absolute'>See more</a>
				<div id="scroll-pin"></div>
			</div>
			<div class="chat-control d-flex flex-row align-items-stretch">
				<div class="chat-msg">
					<textarea class='form-control' name="chat-msg" id="chat-msg" rows="2"></textarea>
				</div>
				<div class="dropdown dropup">
					<button class="btn btn-secondary dropdown-toggle" id='dropdown-emoji' data-toggle='dropdown' aria-haspopup="true" aria-expanded="false">
						<i class="fa fa-laugh"></i>
					</button>
					<div id='emoji-list' class="dropdown-menu shadow" aria-labelledby="dropdown-emoji">
					</div>
				</div>
				<label class='btn btn-secondary chat-send-img' title='send image' for='image-file' id='send-image'>
					<i class="fa fa-image"></i>
					<input type="file" accept=".jpg,.jpeg,.png,.ico,.bmp" multiple=true name="image-file" id="image-file">
				</label>
				<button class='btn btn-primary' id='send'>
					<i class="fas fa-paper-plane"></i>
				</button>
				<div class="img-preview">
					<div class="img-preview-slide" id="img-preview">
						
					</div>
				</div>
			</div>
			<div class="row"></div>
		</div>		
	</main>

	<!-- modal preview image -->
	<div class="modal fade" id="image-modal">
		<div class="modal-dialog d-flex flex-column align-items-center justify-content-center">
			<button class="btn btn-secondary border-light rounded-circle" data-dismiss="modal">
				<i class="fa fa-times"></i>
			</button>
			<div class="">
				<img style='min-width: 320px; width: 90vw;' class='container-fluid' src="" alt="">
			</div>
		</div>
	</div>

	<script src="/js/chat.js" type="module"></script>
	<script src="/js/notify.js" type="module"></script>
</body>
</html>