<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('includes/meta', {title: 'MY CHAT APP'}) %>
</head>
<body>
	<div class="container flex flex_column flex_center">
		<h1>MY CHAT APP</h1>
		<p>Chua co intro o day</p>
		<a href="/signup" class="btn btn-success">SIGNUP NOW</a>
	</div>
</body>
</html>