<!DOCTYPE html>
<html lang="en">
<head>
	<title>LOGIN - MY CHAT APP</title>
	<%- include('includes/meta') -%>
	<link rel="stylesheet" href="/css/login.min.css">
</head>
<body class='site d-flex justify-content-center align-items-center bg-dark'>
	<form class='form rounded text-center' action="/login" method="POST" enctype="multipart/form-data">
		<big class='serif-font'>
			<i class="fa fa-comments"></i>
			MY CHAT APP
		</big>
		<small class='fail-msg text-danger'><%= (!!msg)?msg:"" %></small>
		<div class='form-group'>
			<input required class='form-control' type="text" name='username' id='username' placeholder="USERNAME">
		</div>
		<div class='form-group'>
			<input required class='form-control' type="password" name='password' id='password' placeholder="PASSWORD">
		</div>
		<div class='form-group text-center'>
			<input type="submit" class='btn btn-primary btn-lg' value="LOGIN">
		</div>
		<small class='text-center'>
			Or sign up <a class='btn btn-outline-success btn-sm' href="/signup">here</a>
		</small>
	</form>
</body>
</html>